old/public/grampsxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    # Gramps - a GTK+/GNOME based genealogy program
    #
    # Copyright (C) 2001       Graham J. Williams
    # Copyright (C) 2000-2007  Donald N. Allingham
    # Copyright (C) 2010-2014  Nick Hall
    #
    # This program is free software; you can redistribute it and/or modify
    # it under the terms of the GNU General Public License as published by
    # the Free Software Foundation; either version 2 of the License, or
    # (at your option) any later version.
    #
    # This program is distributed in the hope that it will be useful,
    # but WITHOUT ANY WARRANTY; without even the implied warranty of
    # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    # GNU General Public License for more details.
    #
    # You should have received a copy of the GNU General Public License
    # along with this program; if not, write to the Free Software
    # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
    
    # $Id$
-->
<!--
    This is the Document Type Definition file for v1.7.1
    of the GRAMPS XML genealogy data format.
    Please use the following formal public identifier to identify it:
    
    "-//GRAMPS//DTD GRAMPS XML V1.7.1//EN"
    
    For example:
        <!DOCTYPE database PUBLIC "-//GRAMPS//DTD GRAMPS XML V1.7.1//EN"
                "http://gramps-project.org/xml/1.7.1/grampsxml.dtd"
                [...]>
-->
<!--
    DATABASE
        Defines an XML document which is a <database> consisting of a
    
        header     Information about the "owner" of the database
        name-formats
        people
        families
        events
        places
        citations
        sources
        objects
        repositories
        notes
        tags
        bookmarks
        namemaps
        tags
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gramps-project.org/xml/1.7.1/" xmlns:x="http://gramps-project.org/xml/1.7.1/">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:header"/>
                <xs:element minOccurs="0" ref="x:name-formats"/>
                <xs:element minOccurs="0" ref="x:tags"/>
                <xs:element minOccurs="0" ref="x:events"/>
                <xs:element minOccurs="0" ref="x:people"/>
                <xs:element minOccurs="0" ref="x:families"/>
                <xs:element minOccurs="0" ref="x:citations"/>
                <xs:element minOccurs="0" ref="x:sources"/>
                <xs:element minOccurs="0" ref="x:places"/>
                <xs:element minOccurs="0" ref="x:objects"/>
                <xs:element minOccurs="0" ref="x:repositories"/>
                <xs:element minOccurs="0" ref="x:notes"/>
                <xs:element minOccurs="0" ref="x:bookmarks"/>
                <xs:element minOccurs="0" ref="x:namemaps"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--
        ************************************************************
        HEADER
        
            A <header> consists of <created> (information about this
            genealogical database) and <researcher> (information about the
            person who created this genealogical database)
    -->
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:created"/>
                <xs:element minOccurs="0" ref="x:researcher"/>
                <xs:element minOccurs="0" ref="x:mediapath"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="created">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.created"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.created">
        <xs:attribute name="date" use="required"/>
        <xs:attribute name="version" use="required"/>
    </xs:attributeGroup>
    <xs:element name="researcher">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:resname"/>
                <xs:element minOccurs="0" ref="x:resaddr"/>
                <xs:element minOccurs="0" ref="x:reslocality"/>
                <xs:element minOccurs="0" ref="x:rescity"/>
                <xs:element minOccurs="0" ref="x:resstate"/>
                <xs:element minOccurs="0" ref="x:rescountry"/>
                <xs:element minOccurs="0" ref="x:respostal"/>
                <xs:element minOccurs="0" ref="x:resphone"/>
                <xs:element minOccurs="0" ref="x:resemail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="resname" type="xs:string"/>
    <xs:element name="resaddr" type="xs:string"/>
    <xs:element name="reslocality" type="xs:string"/>
    <xs:element name="rescity" type="xs:string"/>
    <xs:element name="resstate" type="xs:string"/>
    <xs:element name="rescountry" type="xs:string"/>
    <xs:element name="respostal" type="xs:string"/>
    <xs:element name="resphone" type="xs:string"/>
    <xs:element name="resemail" type="xs:string"/>
    <xs:element name="mediapath" type="xs:string"/>
    <!--
        ************************************************************
        PEOPLE
    -->
    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:person"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.people"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.people">
        <xs:attribute name="default"/>
        <xs:attribute name="home" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:gender"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:name"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:eventref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:lds_ord"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:address"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:url"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:childof"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:parentin"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:personref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.person"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.person">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <!-- GENDER has values of M, F, or U. -->
    <xs:element name="gender" type="xs:string"/>
    <xs:element name="name">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:first"/>
                <xs:element minOccurs="0" ref="x:call"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:surname"/>
                <xs:element minOccurs="0" ref="x:suffix"/>
                <xs:element minOccurs="0" ref="x:title"/>
                <xs:element minOccurs="0" ref="x:nick"/>
                <xs:element minOccurs="0" ref="x:familynick"/>
                <xs:element minOccurs="0" ref="x:group"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.name"/>
        </xs:complexType>
    </xs:element>
    <!-- (Unknown|Also Know As|Birth Name|Married Name|Other Name) -->
    <xs:attributeGroup name="attlist.name">
        <xs:attribute name="alt">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="sort"/>
        <xs:attribute name="display"/>
    </xs:attributeGroup>
    <xs:element name="first" type="xs:string"/>
    <xs:element name="call" type="xs:string"/>
    <xs:element name="suffix" type="xs:string"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="nick" type="xs:string"/>
    <xs:element name="familynick" type="xs:string"/>
    <xs:element name="group" type="xs:string"/>
    <xs:element name="surname">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="x:attlist.surname"/>
        </xs:complexType>
    </xs:element>
    <!--
        (Unknown|Inherited|Given|Taken|Patronymic|Matronymic|Feudal|
        Pseudonym|Patrilineal|Matrilineal|Occupation|Location)
    -->
    <xs:attributeGroup name="attlist.surname">
        <xs:attribute name="prefix"/>
        <xs:attribute name="prim">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="derivation"/>
        <xs:attribute name="connector"/>
    </xs:attributeGroup>
    <xs:element name="childof">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.childof"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.childof">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="parentin">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.parentin"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.parentin">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="personref">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.personref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.personref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rel" use="required"/>
    </xs:attributeGroup>
    <xs:element name="address">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="x:street"/>
                <xs:element minOccurs="0" ref="x:locality"/>
                <xs:element minOccurs="0" ref="x:city"/>
                <xs:element minOccurs="0" ref="x:county"/>
                <xs:element minOccurs="0" ref="x:state"/>
                <xs:element minOccurs="0" ref="x:country"/>
                <xs:element minOccurs="0" ref="x:postal"/>
                <xs:element minOccurs="0" ref="x:phone"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.address"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.address">
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="street" type="xs:string"/>
    <xs:element name="locality" type="xs:string"/>
    <xs:element name="city" type="xs:string"/>
    <xs:element name="county" type="xs:string"/>
    <xs:element name="state" type="xs:string"/>
    <xs:element name="country" type="xs:string"/>
    <xs:element name="postal" type="xs:string"/>
    <xs:element name="phone" type="xs:string"/>
    <!--
        ************************************************************
        FAMILY
            An element to record information about a family.
    -->
    <xs:element name="families">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:family"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="family">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:rel"/>
                <xs:element minOccurs="0" ref="x:father"/>
                <xs:element minOccurs="0" ref="x:mother"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:eventref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:lds_ord"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:childref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.family"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.family">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <xs:element name="father">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.father"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.father">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="mother">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.mother"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.mother">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <!-- (None|Birth|Adopted|Stepchild|Sponsored|Foster|Other|Unknown) -->
    <xs:element name="childref">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.childref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.childref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mrel"/>
        <xs:attribute name="frel"/>
    </xs:attributeGroup>
    <xs:element name="type" type="xs:string"/>
    <xs:element name="rel">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.rel"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.rel">
        <xs:attribute name="type" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        EVENT
    -->
    <xs:element name="events">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:event"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="event">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:type"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="x:place"/>
                <xs:element minOccurs="0" ref="x:cause"/>
                <xs:element minOccurs="0" ref="x:description"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.event"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.event">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        SOURCES
    -->
    <xs:element name="sources">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:source"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="source">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:stitle"/>
                <xs:element minOccurs="0" ref="x:sauthor"/>
                <xs:element minOccurs="0" ref="x:spubinfo"/>
                <xs:element minOccurs="0" ref="x:sabbrev"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:srcattribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:reporef"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.source"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.source">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <xs:element name="stitle" type="xs:string"/>
    <xs:element name="sauthor" type="xs:string"/>
    <xs:element name="spubinfo" type="xs:string"/>
    <xs:element name="sabbrev" type="xs:string"/>
    <!--
        ************************************************************
        PLACES
    -->
    <xs:element name="places">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:placeobj"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="placeobj">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:ptitle"/>
                <xs:element maxOccurs="unbounded" ref="x:pname"/>
                <xs:element minOccurs="0" ref="x:code"/>
                <xs:element minOccurs="0" ref="x:coord"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:placeref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:location"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:url"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.placeobj"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.placeobj">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
        <xs:attribute name="type" use="required"/>
    </xs:attributeGroup>
    <xs:element name="pname">
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="x:daterange"/>
                <xs:element ref="x:datespan"/>
                <xs:element ref="x:dateval"/>
                <xs:element ref="x:datestr"/>
            </xs:choice>
            <xs:attributeGroup ref="x:attlist.pname"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.pname">
        <xs:attribute name="lang"/>
        <xs:attribute name="value" use="required"/>
    </xs:attributeGroup>
    <xs:element name="ptitle" type="xs:string"/>
    <xs:element name="code" type="xs:string"/>
    <xs:element name="coord">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.coord"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.coord">
        <xs:attribute name="long" use="required"/>
        <xs:attribute name="lat" use="required"/>
    </xs:attributeGroup>
    <xs:element name="location">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.location"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.location">
        <xs:attribute name="street"/>
        <xs:attribute name="locality"/>
        <xs:attribute name="city"/>
        <xs:attribute name="parish"/>
        <xs:attribute name="county"/>
        <xs:attribute name="state"/>
        <xs:attribute name="country"/>
        <xs:attribute name="postal"/>
        <xs:attribute name="phone"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        OBJECTS
    -->
    <xs:element name="objects">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:object"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="object">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:file"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.object"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.object">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <xs:element name="file">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.file"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.file">
        <xs:attribute name="src" use="required"/>
        <xs:attribute name="mime" use="required"/>
        <xs:attribute name="checksum"/>
        <xs:attribute name="description" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        REPOSITORIES
    -->
    <xs:element name="repositories">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:repository"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repository">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:rname"/>
                <xs:element ref="x:type"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:address"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:url"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.repository"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.repository">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <xs:element name="rname" type="xs:string"/>
    <!--
        ************************************************************
        NOTES
    -->
    <xs:element name="notes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:note"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x:text"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:style"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.note"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.note">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
        <xs:attribute name="format">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="required"/>
    </xs:attributeGroup>
    <xs:element name="text" type="xs:string"/>
    <xs:element name="style">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="x:range"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.style"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.style">
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="italic"/>
                    <xs:enumeration value="underline"/>
                    <xs:enumeration value="fontface"/>
                    <xs:enumeration value="fontsize"/>
                    <xs:enumeration value="fontcolor"/>
                    <xs:enumeration value="highlight"/>
                    <xs:enumeration value="superscript"/>
                    <xs:enumeration value="link"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value"/>
    </xs:attributeGroup>
    <xs:element name="range">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.range"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.range">
        <xs:attribute name="start" use="required"/>
        <xs:attribute name="end" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        TAGS
    -->
    <xs:element name="tags">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tag"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tag">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.tag"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.tag">
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="color" use="required"/>
        <xs:attribute name="priority" use="required"/>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        CITATIONS
    -->
    <xs:element name="citations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="citation">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="x:page"/>
                <xs:element ref="x:confidence"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:objref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:srcattribute"/>
                <xs:element ref="x:sourceref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:tagref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.citation"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.citation">
        <xs:attribute name="id"/>
        <xs:attribute name="handle" use="required" type="xs:ID"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="change" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        BOOKMARKS
    -->
    <xs:element name="bookmarks">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:bookmark"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="bookmark">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.bookmark"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.bookmark">
        <xs:attribute name="target" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="person"/>
                    <xs:enumeration value="family"/>
                    <xs:enumeration value="event"/>
                    <xs:enumeration value="source"/>
                    <xs:enumeration value="citation"/>
                    <xs:enumeration value="place"/>
                    <xs:enumeration value="media"/>
                    <xs:enumeration value="repository"/>
                    <xs:enumeration value="note"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        NAME MAPS
    -->
    <xs:element name="namemaps">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:map"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="map">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.map"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.map">
        <xs:attribute name="type" use="required"/>
        <xs:attribute name="key" use="required"/>
        <xs:attribute name="value" use="required"/>
    </xs:attributeGroup>
    <!--
        ************************************************************
        NAME FORMATS
    -->
    <xs:element name="name-formats">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:format"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="format">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.format"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.format">
        <xs:attribute name="number" use="required"/>
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="fmt_str" use="required"/>
        <xs:attribute name="active">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <!--
        ************************************************************
        SHARED ELEMENTS
    -->
    <xs:element name="daterange">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.daterange"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.daterange">
        <xs:attribute name="start" use="required"/>
        <xs:attribute name="stop" use="required"/>
        <xs:attribute name="quality">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="estimated"/>
                    <xs:enumeration value="calculated"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="cformat"/>
        <xs:attribute name="dualdated">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="newyear"/>
    </xs:attributeGroup>
    <xs:element name="datespan">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.datespan"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.datespan">
        <xs:attribute name="start" use="required"/>
        <xs:attribute name="stop" use="required"/>
        <xs:attribute name="quality">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="estimated"/>
                    <xs:enumeration value="calculated"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="cformat"/>
        <xs:attribute name="dualdated">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="newyear"/>
    </xs:attributeGroup>
    <xs:element name="dateval">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.dateval"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.dateval">
        <xs:attribute name="val" use="required"/>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="before"/>
                    <xs:enumeration value="after"/>
                    <xs:enumeration value="about"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="quality">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="estimated"/>
                    <xs:enumeration value="calculated"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="cformat"/>
        <xs:attribute name="dualdated">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="newyear"/>
    </xs:attributeGroup>
    <xs:element name="datestr">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.datestr"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.datestr">
        <xs:attribute name="val" use="required"/>
    </xs:attributeGroup>
    <xs:element name="citationref">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.citationref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.citationref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="sourceref">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.sourceref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.sourceref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="eventref">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.eventref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.eventref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="role"/>
    </xs:attributeGroup>
    <xs:element name="reporef">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.reporef"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.reporef">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="callno"/>
        <xs:attribute name="medium"/>
    </xs:attributeGroup>
    <xs:element name="noteref">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.noteref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.noteref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="tagref">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.tagref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.tagref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="page" type="xs:string"/>
    <xs:element name="confidence" type="xs:string"/>
    <xs:element name="attribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.attribute"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.attribute">
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="required"/>
        <xs:attribute name="value" use="required"/>
    </xs:attributeGroup>
    <xs:element name="srcattribute">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.srcattribute"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.srcattribute">
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="required"/>
        <xs:attribute name="value" use="required"/>
    </xs:attributeGroup>
    <xs:element name="place">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.place"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.place">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="cause" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="url">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.url"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.url">
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type"/>
        <xs:attribute name="href" use="required"/>
        <xs:attribute name="description"/>
    </xs:attributeGroup>
    <xs:element name="objref">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="x:region"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:attribute"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.objref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.objref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="placeref">
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:element ref="x:daterange"/>
                <xs:element ref="x:datespan"/>
                <xs:element ref="x:dateval"/>
                <xs:element ref="x:datestr"/>
            </xs:choice>
            <xs:attributeGroup ref="x:attlist.placeref"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.placeref">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
    <xs:element name="region">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.region"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.region">
        <xs:attribute name="corner1_x" use="required"/>
        <xs:attribute name="corner1_y" use="required"/>
        <xs:attribute name="corner2_x" use="required"/>
        <xs:attribute name="corner2_y" use="required"/>
    </xs:attributeGroup>
    <xs:element name="data_item">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.data_item"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.data_item">
        <xs:attribute name="key" use="required"/>
        <xs:attribute name="value" use="required"/>
    </xs:attributeGroup>
    <xs:element name="lds_ord">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:element ref="x:daterange"/>
                    <xs:element ref="x:datespan"/>
                    <xs:element ref="x:dateval"/>
                    <xs:element ref="x:datestr"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="x:temple"/>
                <xs:element minOccurs="0" ref="x:place"/>
                <xs:element minOccurs="0" ref="x:status"/>
                <xs:element minOccurs="0" ref="x:sealed_to"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:noteref"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:citationref"/>
            </xs:sequence>
            <xs:attributeGroup ref="x:attlist.lds_ord"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.lds_ord">
        <xs:attribute name="priv">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="required"/>
    </xs:attributeGroup>
    <xs:element name="temple">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.temple"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.temple">
        <xs:attribute name="val" use="required"/>
    </xs:attributeGroup>
    <xs:element name="status">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.status"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.status">
        <xs:attribute name="val" use="required"/>
    </xs:attributeGroup>
    <xs:element name="sealed_to">
        <xs:complexType>
            <xs:attributeGroup ref="x:attlist.sealed_to"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.sealed_to">
        <xs:attribute name="hlink" use="required" type="xs:IDREF"/>
    </xs:attributeGroup>
</xs:schema>
